
/* ALL PAGES */
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch; 
}
.header {
  width: 100%;
  height: 40px;
  display:flex;
  justify-content: space-between;
  line-height: 40px;
}
.header-icon {
  width: 15px;
  height: 15px;
  margin: 0 .25em;
}
.container {
  width: 40%;
  border: 2px solid #f5f5f5;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-content {
  max-width: 100%;
  min-width: 100%;
  color:  #212121;
  min-height: 300px;
  max-height: 100%;
  height: auto;
  font-size: 16px;
}

/* EDITOR PAGE */
.editor-header {
  background-color:#ffd54f;
  color: #212121;
}
#editor-container {
  width: 100%;
  height: 100%;
}
#editor {
  background-color: #fff8e1;
  margin: 0;
  padding: 0;
  border: 0;
  resize: none;
  overflow:hidden;
  height: 100%;
}

#editor:focus {outline: none; }


/* PREVIEWER PAGE */
.previewer-header {
  background-color:#aed581 ;
  color:  #212121;
}

#preview {
  background-color: #f1f8e9;
  color: #212121;
  width: 96%;
  min-height: 300px;
  height: 100%;
  overflow-wrap: break-word;
  overflow:hidden;
  text-align: left;

  margin:0;
  padding: .5em;
  border: 0;
}


table {
  border: 1px solid black;
  border-spacing: 0;
}

td, th {
  border: 1px solid black;
}

pre {
  background-color: white;
}
code {
  font-size: 11px;
  background-color: white;
}
blockquote {
  border-left: 2px solid black;
}